@page "/"

<PageTitle>Home</PageTitle>

<div id="content">
	<h1>Developer Sanctuary</h1>
	<p>Join the server or Browse our projects</p>
	<div class="buttons-container">
		<button class="btn btn-primary" onclick="window.open('https://discord.gg/windows-apps-hub-714581497222398064', '_blank')">Join server</button>
		<button class="btn btn-secondary">View projects</button>
	</div>
</div>

<style>

	html, body {
		height: 100%;
		display: flex;
		align-items: center;
	}

	.content {
		width: fit-content;
		display: flex;
		flex-direction: column;
		margin: 0px 0px 300px 200px;
	}

	.buttons-container {
		display: flex;
		flex-direction: row;
		gap: 12px;
	}
</style>
